.form {
    border-radius: 35px;
    padding: 30px 20px 40px;
    background: $primaryBg;
    background-image: linear-gradient(45deg, $secondaryBg -30%, $primaryBg, $secondaryBg);

    input,
    textarea {
        caret-color: $accent;
    }

    .field {
        margin-bottom: 12px;
    }

    .label {
        display: block;
        margin-bottom: 6px;
    }

    .input {
        display: block;
        width: 100%;
        max-width: 100%;
        border: none;
        border-radius: 6px;
        padding: 8px;
        background: $secondaryBg;
        font-size: 14px;
        transition: .2s cubic-bezier(0.165, 0.84, 0.44, 1);


        &:focus {
            background: darken($secondaryBg, 1%);
            outline: none;
        }
    }

    .btn {
        &.submit {
            height: 40px;
        }
    }

    span {
        font-size: 14px;
    }
}
