.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 40px;
    
    &:not(.neutral) {
        max-width: 1320px;
        background: $secondaryBg;
        background-image: linear-gradient(165deg, $primaryBg 2%, $secondaryBg 10%, $secondaryBg 15%, $secondaryBg 20%, $secondaryBg 25%, $primaryBg 50%, $secondaryBg 100%);
        // background-image: linear-gradient(135deg, red, blue);
        border-radius: 16px;
        margin-bottom: 80px;
        padding: 30px 40px;
        background-attachment: fixed;

        &:not(.hero-container) {
            background-attachment: fixed;
        }
    }

    @media screen and (max-width: 767px) {
        padding-inline: 20px;

        &:not(.neutral) {
            padding-inline: 20px;
            margin-bottom: 40px;
        }
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 40px;
}