.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-image: linear-gradient(45deg, lighten($secondaryBg, 5%) 25%, rgba($primaryBg, 1), lighten($secondaryBg, 5%) 105%);
    box-shadow: 0 0 25px 4px $secondaryBg ,inset 0 -10px 15px 0px $secondaryBg;

    .header-container {
        padding-block: 14px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-item {
        margin-left: 20px;
        display: flex;
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 20px;

        .nav-list {
            .nav-link {
                background: $secondaryBg;
            }
        }
    }

    @media screen and (max-width: 576px) {
        .nav-list {
            .nav-item {
                margin-left: 16px;
            }
        }
    }
}