$primaryBg: #010409;
$secondaryBg: #0d1117;
$ternaryBg: #0d1117;

$primaryBorder: #333333;
$accent: #81a1ce ;

$primaryText: #c4c4c4;     

$white: #ffffff;

//forms
$inputBg: $secondaryBg;

//light theme
// $primaryBg: #fffbf0;
// $secondaryBg: #e4ddf4;
// $ternaryBg: #2d2d2d;

// $accent: #943d24;

// $primaryText: #282612;
// $inputBg: $secondaryBg;
