$primaryBg: #1f1f1f;
$secondaryBg: #222222;
$ternaryBg: #1c1c1c;

$primaryBorder: #333333;
$accent: #e6bf3e;
$secondaryBorder: darken($ternaryBg, 3%);

$primaryText: #dddddd;     

$inputBg: $secondaryBg;

$white: #ffffff;

// --- light theme


// --- dark theme 1 - twilight

$primaryBg: #20212c;
$secondaryBg: #262a39;
$ternaryBg: #282939;

$primaryBorder: #282939;
$secondaryBorder: darken($ternaryBg, 3%);
$accent: #7b72c1;

$primaryText: #dddddd;     

$inputBg: #282939;

$white: #ffffff;

// --- dark theme 2 - dracula

// $primaryBg: #040404;
// $secondaryBg: #0d0f11;
// $ternaryBg: #181a1e;

// $primaryBorder: #181a1e;
// $secondaryBorder: darken($ternaryBg, 5%);
// $accent: #be3333;

// $primaryText: #dddddd;     

// $inputBg: #181a1e;

// $white: #ffffff;